@font-face {
    font-family: 'Playfair Display';
    src: url('/static/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 1 999;
    font-style: normal;
  }
  
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-optical-sizing: auto;
    transition: background-color 1.5s ease-in-out, color 1.5s ease-in-out; /* Smooth transition */
}

.day-mode {
    background-color: #ffffff;
    color: #000000;
}

.twilight-mode {
    background-color: #0A2940; /* Dark blue background */
    color: #a3a2a2; /* Light grey text */
}

.night-mode {
    background-color: #000000; /* Black background */
    color: #929292; /* Grey text */
}

.bedtime-mode {
    background-color: #ffa600; /* Black background */
    color: #f700ff; /* Grey text */
}

#solarInfo {
    font-size: clamp(4em, 13vw, 18em);
    font-weight: 800;
    text-align: center;
    margin: 20px 0;
}

.bottom-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#specialEvent, #lunarInfo {
    font-size: 2em;
    flex: 1;
    text-align: center;
}

#specialEvent {
    font-style: italic;
    text-align: left;
    margin-right: 147px; /* Ensures at least 147px space between Special Event and Lunar Info */
}

#lunarInfo {
    text-align: right;
    white-space: nowrap;
}

