<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Zonneklok</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='manifest.json') }}"
    />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- iPad icons-->
    <link
      rel="apple-touch-icon"
      sizes="192x192"
      href="{{ url_for('static', filename='icons/icon-192x192.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="167x167"
      href="{{ url_for('static', filename='icons/icon-167x167.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{{ url_for('static', filename='icons/icon-152x152.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="1024x1024"
      href="{{ url_for('static', filename='icons/icon-1024x1024.png') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='fonts/PlayfairDisplay-VariableFont_wght.ttf') }}"
      type="font/ttf"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') }}"
      type="font/ttf"
    />
  </head>

  <body>
    <div id="solarInfo">Solar Info</div>
    <div class="bottom-row">
      <div id="specialEvent"></div>
      <div id="lunarInfo">Lunar Info</div>
    </div>

    <script>
      function fetchData() {
        fetch("/api/data")
          .then((response) => response.json())
          .then((data) => {
            const solarInfo = document.getElementById("solarInfo");
            const specialEvent = document.getElementById("specialEvent");
            const lunarInfo = document.getElementById("lunarInfo");
    
            // Update content
            solarInfo.textContent = data.solar_info;
            specialEvent.textContent = data.special_event;
            lunarInfo.textContent = `${data.lunar_day} ${data.lunar_month}`;
    
            // Adjust layout based on the presence of special event content
            if (!data.special_event.trim()) {
              specialEvent.style.display = "none";
              lunarInfo.style.textAlign = "center";
              document.querySelector(".bottom-row").style.justifyContent = "center";
            } else {
              specialEvent.style.display = "block";
              specialEvent.style.textAlign = "left";
              lunarInfo.style.textAlign = "right";
              document.querySelector(".bottom-row").style.justifyContent = "space-between";
            }
    
            // Update the color scheme based on night_mode
            const bodyClassList = document.body.classList;
            bodyClassList.remove('day-mode', 'twilight-mode', 'night-mode', 'bedtime-mode');
            
            switch(data.night_mode) {
              case 0:
                bodyClassList.add('day-mode');
                break;
              case 1:
                bodyClassList.add('twilight-mode');
                break;
              case 2:
                bodyClassList.add('night-mode');
                break;
              default:
                console.log("Unknown night_mode value: ", data.night_mode);
            }
          
            // Handling bedtime_mode
            if (data.bedtime_mode) {
              document.body.classList.remove('day-mode', 'twilight-mode', 'night-mode');
              document.body.classList.add('bedtime-mode');
            } else {
              // Remove bedtime-mode if it's not bedtime
              document.body.classList.remove('bedtime-mode');
            }
          })
          .catch((error) => console.error("Error fetching data:", error));
      }
    
      // Fetch data on initial load and set up interval to fetch data every 60 seconds
      document.addEventListener("DOMContentLoaded", fetchData);
      setInterval(fetchData, 60000);
    </script>    
  </body>
</html>
